body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #000000;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.header {
    border-bottom: 1px solid #ECECEC;
}
.header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #212121;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 93px;
}
.web {
    color: #2196F3;
}
.header .container {
    display: flex;
}
.mail-phone {
    display: flex;
}
.nav .nav-item-link {
    display: inline-block;
    color: #212121;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-phone .mail,
.phone-number {
    display: inline-flex;
    align-items: center;

    color: #757575;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav>.nav-item {
    position: relative;
}
.nav {
    display: flex;
}
.navigation {
    display: flex;
}
.current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #2196F3;
}
.nav-item:not(:last-child) {
    margin-right: 50px;
}
.mail {
    justify-content: center;
    align-items: center;
}
.phone-number {
    justify-content: center;
    align-items: center;
}
.nav-item-link,
.mail,
.phone-number {
    display: flex;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
}
.nav-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav-item-link {
    color: #212121;
}

.nav-item-link:hover {
    color: #2196F3;
}
.nav .nav-item-link.current {
    color: #2196F3;
}
.mail-phone {
    margin-left: auto;
}
.mail-phone-item:not(:last-child) {
    margin-right: 50px;
}

.mail,
.phone-number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
.mail-icon {
    margin-right: 10px;
    fill: currentColor;
}
.phone-icon {
    margin-right: 10px;
    fill: currentColor;
}
.mail:visited,
.phone-number:visited {
    color: #757575;
}

.mail:hover,
.phone-number:hover {
    color: #2196F3;
}

.main-decision {
    background-color: #2F303A;
    background-image: 
    linear-gradient(
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)), 
    url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1600px;
    padding: 200px 0;
}
.icon-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
}
.decision-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    align-items: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 696px;
    height: 120px;
    margin: 0 auto 30px;
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px 32px;
    margin: 0 auto;
}

.decision {
    padding-top: 94px;
    padding-bottom: 94px;
}

.decision-item-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}

.decision-item-content {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.decision-list {
    display: flex;
    padding-left: 0;
}

.decision-item-list:not(:last-child) {
    margin-right: 30px;
}

.main-do {
    padding-bottom: 94px;
}

.do-list {
    display: flex;
    padding-left: 0;
}

.do-item-list:not(:last-child) {
    margin-right: 30px;
}

.do-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}
.do-item-list {
    max-width: 370px;
}
.gallery-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-do-list {
    position: absolute;
    bottom: 0;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.6;
    background-color: rgba(47, 48, 58, 0.8);
    padding: 0;
    height: 70px;
    width: 370px;
    
    margin: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    overflow: hidden;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-team {
    padding-top: 94px;
    padding-bottom: 94px;
}

.main-team {
    background-color: #F5F4FA;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    padding-left: 0;
}

.team-item-list {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-item-list:not(:last-child) {
    margin-right: 30px;
}

.participant {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
}

.participant-job {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 16px;
}
.participant-participant-job {
    padding-top: 30px;
    padding-bottom: 30px;
}
.participant-participant-job .par-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.participant-soc-list {
    display: flex;
    justify-content: center;
}
.par-item {
    width: 44px;
    height: 44px;
    margin-left: 10px;
}
.par-item:first-child {
    margin-left: 0;
}
.par-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.par-soc-icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.par-link:hover,
.par-link:focus {
    background-color: #2196F3;
}
.par-link:hover .par-soc-icon,
.par-link:focus .par-soc-icon {
    fill: #FFFFFF;
}
.client-section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.client {
    text-align: center;
}
.client-item > .client-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list {
    display: flex;
    justify-content: center;
}
.client-title {
    margin-bottom: 50px;
    padding: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}

.client-link {
    display: flex;
    height: 92px;
    width: 170px;
    justify-content: center;
    align-items: center;
    color: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
}

.client-link:hover,
.client-link:focus {
    color: #2196F3;
    border-color: #2196F3;
}

.client-list {
    display: flex;
    margin-top: -30px;
    margin-left: -30px;
}

.client-item {
    flex-basis: 30px;
    margin-top: 30px;
    margin-left: 30px;
}

.client-item .icon {
    fill: currentColor;
}
.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-content {
    display: flex;
    align-items: baseline;
}
.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}
.footer-logo {
    display: block;
    margin-bottom: 20px;
}
.soc-footer {
    margin-left: 70px;
}
.soc-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.soc-item-footer {
    margin-right: 10px;
}
.social-link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    color: #afb1b8;
    border-radius: 50%;
}
.soc-footer-list {
    display: flex;
}
.soc-footer .social-link {
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}
.icon-footer {
    fill: currentColor;
}
.soc-footer .social-link:hover,
.soc-footer .social-link:focus {
    background-color: #2196f3;
}
.city {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
}
.address-list .city, .address-mail, .address-phone {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list li:not(:last-child) {
    margin-bottom: 9px;
}
.address-mail {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
}

.address-phone {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
}
.address-item-phone {
    padding: 0;
}
.city:visited {
    color: #FFFFFF;
}

.address-mail:visited,
.address-phone:visited {
    color: rgba(255, 255, 255, 0.6);
}

.address-mail:hover,
.address-phone:hover,
.city:hover {
    color: #2196F3;
}
.soc-footer .social-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.main {
    padding-top: 94px;
}
.button-list .filter-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 22px;
}

.item-filter-btn:not(:last-child) {
    margin-right: 8px;
}

.filter-btn:hover {
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.categories-item-list {
    max-width: 370px;
    max-height: 404px;
}
.categories-list .card-thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.decoration-link:hover .overlay,
.decoration-link:focus .overlay {
    transform: translateY(0);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-thumb .pre-text {
    margin: 0;
    font-size: 18px;
    line-height: 1.56;
    padding-right: 24px;
    color: #ffffff;
}
.categories-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: space-between;
}
.categories-item-list {
    display: inline-block;
}
.decoration-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.decoration-link:hover,
.decoration-link:focus {
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%), 1px 4px 6px rgb(0 0 0 / 16%);
}
.decoration-link {
    text-decoration: none;
}
.categories-item-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
}
.categories-item-list:nth-child(-n + 6) {
    margin-bottom: 30px;
}
.main {
    padding-bottom: 94px;
}
.categories-item {
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}
.categories-item-content {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}

.second-categories-list {
    display: flex;
    padding-left: 0px;
    justify-content: space-between;
}

.second-categories-list {
    margin-bottom: 94px;
}
/* Форма підписки */
.subscription {
    margin-left: 93px;
}
.subscription-form {
    display: inline-flex;
}
.subscription-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.subscription-input {
    width: 358px;
    height: 50px;

    padding-left: 16px;

    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    margin-right: 12px;
}
.subscription-form>.form-btn {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.subscription-icon {
    margin-left: 10px;
    fill: currentColor;
}
/* Модальне вікно */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.4, 0.1);
    opacity: 0;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 528px;
    min-height: 581px;

    padding: 40px;

    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-closed {
    position: absolute;
    display: inline-flex;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;

    padding: 6px;

    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.closed-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.closed-icon:hover,
.closed-icon:focus {
    fill: #2196f3;
}

/* Форма */

.form-title {
    font-family: 'Roboto';
    font-style: normal;
    margin-top: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}
.form-field {
    margin-bottom: 10px;
}
.form-field.margin {
    margin-bottom: 20px;
}
.form-label {
    display: block;
    position: relative;
}
.form-text {
    font-family: 'Roboto';
    font-style: normal;
    display: block;
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
}
.form-input {
    display: block;
    padding-left: 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.form-input:focus,
.form-comment:focus {
    outline: none;
    border: 1px solid #2196f3;
}

.form-icon {
    position: absolute;
    left: 15px;
    bottom: 14px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus+.form-icon {
    fill: #2196f3;
}
.form-comment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize:none;
    padding: 12px 16px;
}
.form-label-check {
    position: relative;
    padding-left: 28px;
}
.form-input-check {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
}
.check-box {
    position: absolute;
    top: 50%;
    width: 16px;
    height: 15px;

    margin-left: -23px;

    background-color: #ffffff;
    background-image: url(../images/check-box.png);

    transform: translateY(-50%);

    transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-check:checked+.check-box,
.form-input-check:checked:focus+.check-box {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 16 15' fill='none'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
}

.form-input-check:focus+.check-box {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 16 15' fill='none'%3E%3Cpath d='M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z' fill='%232196F3'/%3E%3C/svg%3E");
}
.form-text-check {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}
.form-link-check {
    color: #2196F3;
}

.form-btn {
    display: flex;
    margin-top: 30px;
    
    width: 200px;
    height: 50px;

    justify-content: center;
    align-content: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav,
.mail-phone,
.decision-list,
.do-list,
.team-list,
.address-list,
.button-list,
.categories-list,
.second-categories-list,
.participant-soc-list,
.client-list,
.soc-footer-list {
    list-style-type: none;
}