

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.nav,
.mail-phone,
.decision-list,
.do-list,
.team-list,
.address-list,
.button-list,
.categories-list,
.second-categories-list,
.participant-soc-list,
.client-list,
.soc-footer-list {
    list-style-type: none;
}